.fbody{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.container{
    margin: auto;
    width: 50vw;
}

label{
    display: block;
    padding: 1rem;
    font-size: 1rem;
}

input{
    width: 95%;
    padding: 1rem;
}

button{
    text-align: center;
    width: 95%;
    margin: auto;
    padding: 1rem;
    margin: 1rem;
}